.logo {
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.8rem;
}

.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 0.2rem;
    font-size: 3.5rem;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
}

.logo-link:hover {
    filter: brightness(60%);
}

.logo-link svg {
    width: 5.0rem;
    height: 5.0rem;
}