.input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    padding: 0.4rem;
    border-radius: 4rem;
    outline: none;
    color: var(--text-default);

    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    transition: all 0.1s ease-in-out;
}

.input:focus {
    border: 0.2rem solid var(--primary);
}

.input::placeholder {
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}