.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 1.6rem;
}

.footer a {
    color: var(--text-muted);
    text-decoration: none;
    margin: 0.4rem 0;
}

.footer a:hover {
    text-decoration: underline;
}